@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer !important; }

input {
  outline: 0; }

form .group {
  display: flex;
  position: relative; }
  form .group .icon-search {
    position: absolute;
    right: 22px;
    top: 8px;
    cursor: pointer; }
  form .group input.radius {
    border-radius: 30px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
.z-index {
  z-index: 100; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }

p {
  line-height: 1.6;
  margin: 0.8em 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center; }

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0; }

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4; }

.mySwiper .swiper-slide-thumb-active {
  opacity: 1; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px; }

.breadcrumb-item + .breadcrumb-item::before {
  content: "" !important;
  background: url(../images/icon-arrow-right.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 4px;
  margin-right: 8px; }

.breadcrumb-item {
  display: flex;
  align-items: center; }

.breadcrumb-item.active {
  font-weight: 700;
  color: #550E0A; }

.header-top {
  background-color: #000000; }
  .header-top .flext-left {
    display: flex; }
    .header-top .flext-left img {
      margin-right: 5px; }
  .header-top .address-text span {
    color: #fff; }
    .header-top .address-text span:last-child {
      margin-left: 15px; }
  .header-top .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px; }
    .header-top .header-flex .flex-right ul {
      display: flex;
      list-style: none;
      align-items: center; }
      .header-top .header-flex .flex-right ul li {
        margin-right: 5px; }
        .header-top .header-flex .flex-right ul li:last-child {
          margin-right: 0; }
      .header-top .header-flex .flex-right ul .header-button {
        margin-right: 5px;
        background: #550E0A;
        color: #fff;
        padding: 6px 10px; }
        .header-top .header-flex .flex-right ul .header-button a {
          color: #fff; }

.header-main {
  padding-top: 8px;
  padding-bottom: 8px; }
  .header-main .main-wrapper {
    display: flex;
    align-items: center; }
    .header-main .main-wrapper .header-commit {
      display: flex;
      margin-left: auto; }
      .header-main .main-wrapper .header-commit .block-item {
        display: flex;
        align-items: center;
        margin-right: 60px; }
        .header-main .main-wrapper .header-commit .block-item .box-text {
          margin-left: 15px; }
          .header-main .main-wrapper .header-commit .block-item .box-text h4 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700; }
        .header-main .main-wrapper .header-commit .block-item:last-child {
          margin-right: 0; }

.header-bottom {
  background-color: #000000; }
  .header-bottom .bottom-nav .logo {
    margin-right: 10px;
    margin-bottom: 20px; }
  .header-bottom .bottom-nav .navbar-nav {
    height: 55px;
    line-height: 42px; }
    .header-bottom .bottom-nav .navbar-nav .nav-item a.nav-link {
      font-size: 14px;
      text-transform: capitalize;
      color: #fff;
      font-weight: 600;
      padding-left: 33px;
      padding-right: 33px; }
    .header-bottom .bottom-nav .navbar-nav .nav-item:hover {
      background: #FAC232; }
    .header-bottom .bottom-nav .navbar-nav .nav-item.active {
      background-color: #FAC232; }
  .header-bottom .bottom-nav .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .header-bottom .bottom-nav .navbar-nav .nav-item {
    position: relative;
    border-right: 1px solid #707070; }
  .header-bottom #mega-menu ul {
    list-style: none; }
  .header-bottom .nav-item .sub-menu li {
    position: relative;
    line-height: 30px; }
    .header-bottom .nav-item .sub-menu li a {
      color: #333 !important; }
  .header-bottom span.btn-dropmenu {
    position: absolute;
    right: 19px;
    color: #fff;
    top: 10px; }
  @media (max-width: 991px) {
    .header-bottom #mega-menu ul {
      padding-left: 10px; }
    .header-bottom #mega-menu ul {
      display: none; }
    .header-bottom .navbar-nav .nav-item .sub-menu {
      display: none;
      padding-left: 20px; }
    .header-bottom .btn-dropmenu i.fa.rotate {
      transform: rotate(-180deg);
      transition: all 0.3s; }
    .header-bottom .btn-dropmenu i {
      padding: 8px 11px;
      background: red;
      border-radius: 33px;
      color: #fff; } }
  @media (min-width: 991px) {
    .header-bottom .navbar-nav .nav-item .sub-menu {
      box-shadow: 0 2px 8px #bebebe;
      border-radius: 5px;
      position: absolute;
      background: #fff;
      min-width: 200px;
      z-index: 1000;
      padding-left: 0;
      list-style: none;
      padding-top: 15px;
      padding-bottom: 15px;
      visibility: hidden;
      animation-name: menu-effect-out;
      animation-duration: 0.2s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      transition: all 0.2s ease;
      height: auto; }
    .header-bottom .nav-item .sub-menu .sub-menu {
      position: absolute;
      background: #fff;
      left: 100%;
      top: 0;
      margin-left: 1px;
      visibility: hidden; }
    .header-bottom .sub-menu .btn-dropmenu {
      display: none; }
    .header-bottom .nav-item .sub-menu li:hover > .sub-menu {
      animation-name: menu-effect-in;
      visibility: visible;
      animation-direction: alternate;
      animation-fill-mode: backwards;
      animation-timing-function: linear; }
    .header-bottom .nav-item .sub-menu a {
      text-transform: inherit !important;
      padding: 5px 20px; }
    .header-bottom .nav-item:hover > .sub-menu {
      animation-name: menu-effect-in;
      visibility: visible;
      animation-direction: alternate;
      animation-fill-mode: backwards;
      animation-timing-function: linear; }
    @keyframes menu-effect-in {
      from {
        height: 0px;
        opacity: 0; }
      to {
        height: 200px;
        opacity: 0.8; } }
    @keyframes menu-effect-out {
      from {
        height: 200px;
        opacity: 0.8; }
      to {
        height: 0;
        opacity: 0; } }
    .header-bottom .bottom-nav .sub-menu li a {
      padding-left: 20px !important; }
    .header-bottom .bottom-nav .navbar-nav .menu-item-mega a {
      position: relative; }
    .header-bottom .menu-item-mega {
      position: static !important; }
    .header-bottom .menu-item-mega .mega-item a {
      text-transform: inherit; }
    .header-bottom div#mega-menu {
      position: absolute;
      width: 100%;
      background: #fff;
      right: 0px;
      z-index: 100;
      visibility: hidden;
      box-shadow: 0 2px 8px #bebebe; }
    .header-bottom div#mega-menu .mega-item a {
      color: #333;
      padding-left: 0;
      padding-right: 0;
      text-transform: inherit; }
    .header-bottom div#mega-menu ul {
      list-style: none;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .header-bottom div#mega-menu .mega-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex; }
    .header-bottom div#mega-menu .mega-item:before {
      content: "\f105";
      display: block;
      color: #FF000A;
      font-family: 'FontAwesome';
      margin-right: 5px;
      font-weight: bold; }
    .header-bottom .bottom-nav .nav-item:hover #mega-menu {
      visibility: visible; } }

footer #footer {
  background: #585858;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer #footer h1.footer-title {
    color: #ffff;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px; }
  footer #footer .logo-footer {
    text-align: center; }
  footer #footer .footer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 5px; }
    footer #footer .footer-block .block-item img {
      margin-right: 10px; }
    footer #footer .footer-block .block-item span {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase; }
  footer #footer .footer-info {
    text-align: center;
    color: #fff;
    margin-top: 20px; }
    footer #footer .footer-info .company-name {
      font-size: 14px;
      text-transform: uppercase; }
  footer #footer .footer-menu {
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px; }
    footer #footer .footer-menu ul li.nav-item {
      padding: 2px 15px;
      line-height: 12px;
      border-right: 3px solid #ccc; }
      footer #footer .footer-menu ul li.nav-item a {
        padding: 0 10px 0 10px;
        color: #fff; }
      footer #footer .footer-menu ul li.nav-item:last-child {
        border-right: none; }

.popup-order {
  background: #333333bf; }
  .popup-order .modal-dialog {
    margin: 0 auto;
    top: 50%;
    transform: scale(0.3) translateY(-50%) !important;
    transition: all 0.3s;
    transform-origin: 50% 10%; }
    .popup-order .modal-dialog .modal-content {
      padding: 35px;
      border-radius: 20px; }
      .popup-order .modal-dialog .modal-content p {
        font-size: 16px;
        color: #666666;
        line-height: 25px; }
      .popup-order .modal-dialog .modal-content .modal-body {
        padding: 0; }
  .popup-order .modal-header {
    border: unset;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0; }
    .popup-order .modal-header button {
      position: absolute;
      top: 19px;
      right: 26px; }
      .popup-order .modal-header button:focus {
        border: unset;
        outline: 0; }
    .popup-order .modal-header h5 {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      color: #550E0A;
      text-transform: uppercase;
      margin-bottom: 20px; }
  .popup-order form .form-group input {
    border-radius: 50px; }
    .popup-order form .form-group input::placeholder {
      padding-left: 10px;
      color: #666666; }
  .popup-order form .form-group select {
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/br_down.png") white no-repeat !important;
    background: url("../images/br_down.png") white no-repeat calc(100% - 16px) !important; }
  .popup-order form button {
    width: 240px;
    background: #550E0A;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }

.popup-order.show .modal-dialog {
  transform: scale(1) translateY(-50%) !important; }

.home-slider {
  overflow-x: clip; }
  .home-slider .swiper-container {
    overflow: unset; }
    .home-slider .swiper-container .swiper-slide img {
      opacity: 0.2; }
    .home-slider .swiper-container .swiper-slide.swiper-slide-active img {
      opacity: 1; }
  .home-slider .slider-wrapper {
    position: relative; }
    .home-slider .slider-wrapper .swiper-button-next,
    .home-slider .slider-wrapper .swiper-button-prev {
      background: unset; }
      .home-slider .slider-wrapper .swiper-button-next i,
      .home-slider .slider-wrapper .swiper-button-prev i {
        font-size: 83px;
        color: #fff; }
    .home-slider .slider-wrapper .swiper-button-next {
      right: 25px;
      top: 50%;
      transform: translateY(-50%); }
    .home-slider .slider-wrapper .swiper-button-prev {
      left: 25px;
      top: 50%;
      transform: translateY(-50%); }

.gallery-image .box-image img {
  height: 300px;
  object-fit: cover; }
.gallery-image .box-image span img {
  height: 145px;
  margin-bottom: 10px;
  object-fit: cover; }

.sidebar-product .sidebar-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background: #550E0A;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px; }
.sidebar-product .product-category {
  background: #fff;
  padding: 18px 0px 18px 15px;
  box-shadow: 1px 1px 5px 1px #b6b6b685; }
  .sidebar-product .product-category ul {
    list-style: none; }
    .sidebar-product .product-category ul li {
      position: relative;
      display: flex;
      align-items: center; }
      .sidebar-product .product-category ul li a {
        text-transform: uppercase;
        font-weight: 500;
        color: #550E0A;
        display: block;
        width: 100%;
        padding: 6px 15px 6px 0px; }
      .sidebar-product .product-category ul li .child-category {
        position: absolute;
        visibility: hidden;
        left: 105%;
        top: 0;
        width: 100%;
        background: #fff;
        opacity: 0;
        z-index: 1000; }
        .sidebar-product .product-category ul li .child-category a {
          padding-left: 10px; }
      .sidebar-product .product-category ul li button {
        margin-left: auto;
        background: transparent;
        border: none;
        margin-right: 5px; }
  .sidebar-product .product-category li:hover .child-category {
    visibility: visible;
    left: 100%;
    opacity: 1;
    transition: all 0.5s; }
.sidebar-product .box-image {
  margin-top: 30px; }

.section-title {
  border-bottom-style: double;
  border-width: 3px;
  border-color: #E1E1E1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative; }
  .section-title::after {
    content: '';
    width: 100px;
    height: 2px;
    bottom: -3px;
    background-color: #550E0A;
    display: block;
    position: absolute; }

.featured-products-content {
  position: relative; }
  .featured-products-content .swiper-button-prev,
  .featured-products-content .swiper-button-next {
    background: unset;
    top: 10px; }
  .featured-products-content .swiper-button-prev {
    left: 91%; }
  .featured-products-content .swiper-button-prev i,
  .featured-products-content .swiper-button-next i {
    padding: 8px 12px;
    color: #333;
    border: 1px solid #CCCCCC;
    font-weight: bold; }

.product-item {
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 5px;
  width: 100%; }
  .product-item .box-text {
    text-align: center;
    padding-bottom: 15px; }
    .product-item .box-text h3 {
      font-size: 14px;
      color: #000;
      margin-top: 5px;
      margin-bottom: 10px; }
    .product-item .box-text span {
      font-size: 14px;
      color: #000;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold; }
  .product-item .box-image {
    width: 100%;
    padding-top: 100%;
    position: relative; }
    .product-item .box-image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      padding: 16px; }

.product-block .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: double;
  border-width: 3px;
  border-color: #E1E1E1;
  position: relative; }
  .product-block .section-title h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px; }
  .product-block .section-title::after {
    content: '';
    width: 100px;
    height: 2px;
    bottom: -2px;
    background-color: #550E0A;
    display: block;
    position: absolute; }
  .product-block .section-title .nav li {
    margin-right: 30px; }
    .product-block .section-title .nav li a.nav-link {
      background: transparent;
      border: none;
      position: relative;
      padding: 0;
      color: #333; }
    .product-block .section-title .nav li a.nav-link.active::after {
      content: '';
      width: 100%;
      height: 2px;
      display: block;
      background: #000;
      position: absolute;
      bottom: -13px;
      left: 0; }
.product-block .product-slide {
  position: relative;
  margin-top: 20px; }
  .product-block .product-slide .swiper-button-next,
  .product-block .product-slide .swiper-button-prev {
    background: unset;
    top: 50%;
    transform: translateY(-50%); }
  .product-block .product-slide .swiper-button-next i,
  .product-block .product-slide .swiper-button-prev i {
    font-weight: bold;
    font-size: 35px; }
  .product-block .product-slide .swiper-button-next {
    right: -5px; }
  .product-block .product-slide .product-item .box-image {
    padding-top: 80%; }
    .product-block .product-slide .product-item .box-image img {
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 1px;
      padding-bottom: 0px; }

.bg {
  background-color: #F4F4F4; }

section.signup {
  background: url("../images/banner-dang-ky.jpg");
  background-repeat: no-repeat;
  background-position: 52% 50%;
  position: relative;
  height: 300px; }
  section.signup .signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 728px; }
    section.signup .signup-form h2 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 18px; }
    section.signup .signup-form p {
      font-size: 14px;
      color: #fff;
      max-width: 460px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; }
    section.signup .signup-form form {
      display: flex;
      justify-content: center;
      align-items: center; }
      section.signup .signup-form form input {
        max-width: 240px;
        height: 40px;
        border-radius: unset; }
      section.signup .signup-form form button {
        background: #550E0A;
        color: #fff;
        border: unset;
        height: 40px;
        min-width: 110px;
        border-radius: unset;
        font-size: 14px;
        text-transform: uppercase; }
  section.signup:after {
    content: '';
    background: #000000ad;
    width: 100%;
    height: 100%;
    display: block; }

.project-wrapper {
  position: relative; }
  .project-wrapper .swiper-button-prev,
  .project-wrapper .swiper-button-next {
    background: unset;
    top: 10px; }
  .project-wrapper .swiper-button-prev {
    left: 93%; }
  .project-wrapper .swiper-button-prev i,
  .project-wrapper .swiper-button-next i {
    padding: 8px 12px;
    color: #333;
    border: 1px solid #CCCCCC;
    font-weight: bold; }

.project-item {
  background: #fff;
  margin-bottom: 5px;
  width: 100%; }
  .project-item .box-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; }
    .project-item .box-text h3 {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-top: 15px;
      margin-bottom: 10px;
      line-height: 23px; }
    .project-item .box-text p {
      font-size: 14px;
      font-weight: 500;
      color: #333; }
  .project-item .box-image {
    padding-top: 100%;
    position: relative; }
    .project-item .box-image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0; }

.product-wrapper {
  position: relative; }
  .product-wrapper .swiper-button-prev,
  .product-wrapper .swiper-button-next {
    background: unset;
    top: -40px; }
  .product-wrapper .swiper-button-next {
    right: 20px; }
  .product-wrapper .swiper-button-prev {
    left: 90%; }
  .product-wrapper .swiper-button-prev i,
  .product-wrapper .swiper-button-next i {
    padding: 8px 12px;
    color: #333;
    border: 1px solid #CCCCCC;
    font-weight: bold; }
  .product-wrapper .box-image-left img {
    width: 270px;
    height: 250px;
    object-fit: cover; }
  .product-wrapper .box-text {
    padding-bottom: 10px; }

.box-customer {
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-customer .box-image img {
    border-radius: 100px; }
  .box-customer .info {
    padding-left: 15px; }
    .box-customer .info h4 {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .box-customer .info span {
      font-size: 14px;
      color: #fff; }

.customer {
  height: 350px !important;
  background-size: cover !important; }
  .customer p {
    min-width: 810px;
    margin-top: 15px; }

.news-slide .swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.blog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .blog-item .box-image {
    width: 100%;
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    height: 100%; }
    .blog-item .box-image img {
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .blog-item .box-text {
    position: absolute;
    bottom: 0;
    background: #000000;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px; }
    .blog-item .box-text h3 {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      padding-top: 10px; }
    .blog-item .box-text .is-divider {
      background: #fff;
      width: 26px;
      height: 3px;
      padding-left: 10px;
      margin-top: 12px;
      margin-bottom: 10px; }

.customer-partner-wrapper .grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px; }
.customer-partner-wrapper .gallery-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .customer-partner-wrapper .gallery-item .box-image {
    overflow: hidden;
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 92%;
    height: 100%; }
    .customer-partner-wrapper .gallery-item .box-image img {
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s; }
  .customer-partner-wrapper .gallery-item:hover img {
    transform: scale(1.1); }

section.support {
  background-color: #550E0A;
  padding-top: 40px;
  padding-bottom: 40px; }

.support-swapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .support-swapper .box-text {
    max-width: 538px; }
    .support-swapper .box-text h2 {
      font-size: 36px;
      font-weight: bold;
      color: #fff; }
    .support-swapper .box-text p {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0; }
  .support-swapper .hotline {
    margin-bottom: 22px; }
    .support-swapper .hotline p {
      color: #fff;
      font-size: 18px;
      margin-bottom: 10px; }
    .support-swapper .hotline span {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 24px;
      font-weight: bold; }
      .support-swapper .hotline span i {
        font-size: 34px;
        margin-right: 10px; }
  .support-swapper .btn-question {
    width: 155px;
    height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 12px; }
    .support-swapper .btn-question a {
      background: unset;
      border: unset;
      height: 100%;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 40px;
      color: #550E0A; }

.menu-footer {
  padding-top: 5px;
  padding-bottom: 5px; }
  .menu-footer span {
    margin-right: 10px;
    font-weight: bold; }
  .menu-footer .menu ul {
    display: flex;
    align-items: center;
    list-style: none; }
    .menu-footer .menu ul li {
      border-right: 1px solid #707070; }
      .menu-footer .menu ul li a {
        padding: 5px 10px;
        color: #333; }
      .menu-footer .menu ul li:last-child {
        border-right: none; }
  .menu-footer .menu-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.footer-main {
  background-color: #333333;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer-main .logo-footer {
    text-align: center;
    margin-bottom: 15px; }
  .footer-main p {
    color: #fff;
    line-height: 22px; }
  .footer-main h2.footer-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }
    .footer-main h2.footer-title::after {
      content: '';
      width: 115px;
      height: 1px;
      display: block;
      background: #fff;
      margin-top: 5px; }
  .footer-main h3 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .footer-main .box-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px; }
    .footer-main .box-info-item span {
      color: #fff; }
      .footer-main .box-info-item span i {
        min-width: 20px;
        margin-right: 10px; }
  .footer-main .footer-category ul {
    list-style: none; }
    .footer-main .footer-category ul li {
      border-bottom: 1px solid #707070;
      margin-bottom: 16px;
      padding-bottom: 6px; }
      .footer-main .footer-category ul li a {
        color: #fff; }
  .footer-main .dknt h2.footer-title:after {
    width: 88%; }
  .footer-main .dknt span {
    color: #fff;
    margin-bottom: 10px;
    display: block; }
  .footer-main .dknt form input {
    max-width: 312px;
    height: 40px;
    width: 100%; }
  .footer-main .dknt form button {
    width: 50px;
    height: 40px;
    background: #550E0A;
    border: none;
    color: #fff; }
  .footer-main .social-follow {
    margin-top: 15px; }
    .footer-main .social-follow a {
      margin-right: 8px; }

.absolute-footer {
  background: #000000;
  padding-top: 8px;
  padding-bottom: 8px; }
  .absolute-footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .absolute-footer ul.statistical {
    list-style: none;
    display: flex; }
    .absolute-footer ul.statistical li {
      color: #fff;
      margin-right: 30px; }
      .absolute-footer ul.statistical li:last-child {
        margin-right: 0; }
  .absolute-footer span {
    color: #fff; }

.swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #550E0A;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: #550E0A; }

.news-wrapper .news-slide {
  position: relative; }

.news-wrapper .swiper-button-prev,
.customer-partner-wrapper .swiper-button-prev {
  left: 93%; }

.news-wrapper .swiper-button-prev,
.news-wrapper .swiper-button-next {
  background: unset;
  top: -40px; }

.customer-partner-wrapper .swiper-button-prev,
.customer-partner-wrapper .swiper-button-next {
  background: unset;
  top: 8px; }

.news-wrapper .swiper-button-prev i,
.news-wrapper .swiper-button-next i,
.customer-partner-wrapper .swiper-button-prev i,
.customer-partner-wrapper .swiper-button-next i {
  padding: 8px 12px;
  color: #333;
  border: 1px solid #CCCCCC;
  font-weight: bold; }

.customer-partner-wrapper {
  position: relative; }

.wrap-breadcrumbs .breadcrumb {
  background: transparent;
  padding-left: 0; }
  .wrap-breadcrumbs .breadcrumb .breadcrumb-item a {
    color: #ADADAD;
    font-weight: bold; }

.page h1.page-title {
  font-size: 14px;
  color: #550E0A;
  font-weight: bold;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
  margin-bottom: 18px; }
.page .commtent h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px; }
  .page .commtent h4::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #5ddbf4;
    display: block;
    margin-top: 5px; }
.page .commtent .fb-comments {
  background-color: #f5f5f5; }

@media (max-width: 768px) {
  section.slider-home .banner-slider .swiper-slide img {
    height: auto; }

  .customer-partner-wrapper .grid-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; }

  .main-wrapper {
    justify-content: center; }
    .main-wrapper .navbar-brand {
      margin-right: 0; }

  .header-commit {
    display: none !important; }

  .flext-left {
    display: none !important; }

  .flex-right {
    width: 100%; }

  ul li.header-button {
    margin-right: auto !important; }

  .home-slider .slider-wrapper .swiper-button-next {
    right: 0; }

  .home-slider .slider-wrapper .swiper-button-prev {
    left: 0; }

  .section-title {
    display: block !important; }

  .featured-products-slider {
    margin-top: 20px; }

  .product-block .product-slide .product-item .box-image {
    padding-top: 96%; }

  .product-block .product-slide .product-item .box-image img {
    padding-left: 0;
    padding-right: 0; }

  section.signup .signup-form {
    width: 100%;
    padding: 15px; }
    section.signup .signup-form h2 {
      font-size: 18px;
      text-align: center;
      line-height: 28px; }

  .product-wrapper .box-image-left img {
    width: 100%;
    height: auto; }
  .product-wrapper .product-slide {
    margin-top: 20px; }

  .product-wrapper .swiper-button-prev {
    top: 50%;
    left: -10px; }
    .product-wrapper .swiper-button-prev i {
      border: unset; }

  .product-wrapper .swiper-button-next {
    top: 50%;
    right: -10px; }
    .product-wrapper .swiper-button-next i {
      border: unset; }

  section.signup .signup-form p {
    width: 100%;
    min-width: unset;
    max-width: unset; }

  .support-swapper {
    text-align: center;
    display: block; }
    .support-swapper .box-text {
      width: 100%;
      max-width: unset; }
    .support-swapper .hotline span {
      justify-content: center; }
    .support-swapper .btn-question {
      margin: 10px auto; }

  .menu-footer .menu-footer-wrapper {
    flex-wrap: wrap; }

  .menu-footer .menu {
    margin-top: 20px; }

  .menu-footer .menu ul {
    display: unset; }
    .menu-footer .menu ul li {
      display: inline-block;
      margin-bottom: 10px; }
      .menu-footer .menu ul li a {
        padding: 5px 6px; }

  .archive-project h1.page-title {
    width: 100% !important; } }
@media (max-width: 320px) {
  .customer {
    height: 412px !important;
    background-size: cover !important; } }
@media (max-width: 426px) {
  .archive-blog .post-list .post-list-item {
    display: revert !important; }

  .products-wrapper-list .box-image {
    padding-top: 90% !important; }

  .products-wrapper-list .box-image img {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .product-item .box-image img {
    padding: 0 !important; }

  .products-wrapper-list .box-text h3 {
    margin-top: 10px; }

  .archive-blog .post-list .post-list-item .box-image {
    width: 100% !important;
    height: auto !important; }

  .archive-blog .post-list .post-list-item .box-text {
    padding-left: 0 !important;
    margin-top: 15px; }

  footer #footer .footer-block .block-item img {
    margin-right: 5px;
    width: 10px; }

  footer #footer .footer-block .block-item span {
    font-size: 10px; }

  footer #footer .footer-menu ul li.nav-item {
    padding: 0;
    line-height: 22px; }

  .project-wrapper .swiper-button-prev {
    left: 81%; }
  .project-wrapper .swiper-button-next {
    right: 0; }
  .project-wrapper .section-title {
    text-transform: inherit; }

  .project-slide .box-text h3,
  .project-slide .box-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5; }
  .project-slide .project-item .box-text {
    padding-left: 5px;
    padding-right: 5px; }

  .absolute-footer .copyright,
  .absolute-footer ul.statistical {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; }

  .footer-main .dknt form input {
    max-width: 287px; }

  .product-block .section-title h2 {
    border-bottom-style: double;
    border-width: 3px;
    border-color: #E1E1E1;
    padding-bottom: 6px;
    position: relative;
    margin-bottom: 13px; }
    .product-block .section-title h2::after {
      content: '';
      width: 100px;
      height: 1px;
      display: block;
      background-color: #550E0A;
      position: absolute;
      bottom: -2.2px; }

  .product-block .section-title::after {
    content: unset; }

  .product-block .section-title .nav li a.nav-link.active::after {
    content: unset; }

  .product-block ul.nav {
    white-space: nowrap;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    padding-left: 3px; }

  .product-block .section-title {
    border: unset; }

  .gallery-image {
    display: none; }

  .single-product .btn-click-popup .btn-dktv,
  .single-product .btn-click-popup .btn-order {
    display: block;
    width: 65% !important;
    margin: 15px auto;
    margin-right: auto !important;
    text-align: center; }

  .meta-box .hotline {
    justify-content: center; }

  .meta-box .share {
    margin-left: 35px; }

  .single-product .product-bottom .nav-item {
    margin-bottom: 6px; } }
@media (max-width: 992px) {
  .navbar .navbar-brand {
    display: none; }

  .contact-page .btn-click-popup .btn-dktv,
  .contact-page .btn-click-popup .btn-order {
    margin-left: auto;
    margin-right: auto !important;
    margin-bottom: 15px; }

  .main-nav .navbar .navbar-collapse.mobile {
    position: fixed;
    height: 100%;
    width: 80%;
    background: #fff;
    top: 0;
    left: -1000px;
    z-index: 100;
    transition: all 0.3s; }

  .main-nav .navbar .collapse {
    display: block; }

  .overlay-mobile.show {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e82;
    z-index: 100;
    display: block;
    top: 0;
    left: 0; }

  .main-nav .navbar .navbar-collapse.mobile.active {
    left: 0px; }

  .header-wrapper .header-main .main-nav .navbar-nav {
    margin-top: 30px; }

  .bottom-nav nav.navbar {
    position: fixed;
    height: 100%;
    background: #333;
    z-index: 1000;
    width: 80%;
    left: -1000px;
    top: 0;
    padding-right: 0;
    transition: all 0.3s; }
    .bottom-nav nav.navbar .nav-item {
      border-right: unset !important; }
  .bottom-nav .navbar-collapse {
    display: block;
    height: 100%; }
  .bottom-nav span.btn-dropmenu {
    right: 18px;
    top: 8px; }

  .bottom-nav {
    position: absolute;
    top: 92px;
    left: 0; }

  .bottom-nav nav.navbar.active {
    left: 0; }

  .sidebar-product .product-category ul li button {
    position: absolute;
    right: 0;
    top: 6px; }

  .sidebar-product .product-category ul li .child-category {
    position: revert;
    visibility: unset;
    opacity: 1;
    display: none; }

  .sidebar-product .product-category ul li {
    flex-wrap: wrap; }

  .sidebar-product .product-category li:hover .child-category {
    visibility: unset;
    transition: unset; }

  .product-category button.active i {
    transform: rotate(90deg);
    transition: all 0.3s; }

  .sidebar-product .box-image img {
    width: 100%; }

  .featured-products-content {
    margin-top: 30px; }

  .featured-products-content .swiper-button-prev {
    left: 78%; }

  .single-blog .product-item {
    align-items: center !important; }

  .single-blog .table-content {
    width: 100% !important; } }
@media (min-width: 992px) {
  .navbar-brand.mobile {
    display: none; }

  .navbar-toggler {
    display: none; }

  .contact-page .pr-modify {
    padding-right: 108px; } }
.blog-item .box-image {
  overflow: hidden; }

.blog-item img {
  transition: all 0.3s; }

.blog-item:hover img {
  transform: scale(1.1); }

.project-item .box-image {
  overflow: hidden; }
  .project-item .box-image img {
    transition: all 0.3s; }
.project-item:hover img {
  transform: scale(1.1); }

.product-item .box-image {
  overflow: hidden; }
  .product-item .box-image img {
    transition: all 0.3s; }
.product-item:hover img {
  transform: scale(1.1); }

.gallery-image .box-image {
  overflow: hidden; }
  .gallery-image .box-image img {
    transition: all 0.3s; }
  .gallery-image .box-image:hover img {
    transform: scale(1.1); }

.home-slider {
  overflow: hidden; }
  .home-slider .slider-wrapper .banner-slider__frame img {
    animation: imageScaleAnimation 100s infinite ease; }

@keyframes imageScaleAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
.gallery-image .box-image.second,
.gallery-image .box-image.third {
  margin-bottom: 10px; }
  .gallery-image .box-image.second img,
  .gallery-image .box-image.third img {
    width: 370px;
    height: 145px;
    object-fit: cover; }

.contact-page .info-wrapper .info {
  align-items: center; }
  .contact-page .info-wrapper .info .icon {
    margin-right: 15px; }
.contact-page .contact-col-left h1 {
  font-size: 24px;
  font-weight: bold;
  color: #550E0A;
  margin-bottom: 20px; }
.contact-page .contact-col-left h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px; }
.contact-page .contact-col-right h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ADADAD;
  padding-bottom: 5px;
  position: relative; }
  .contact-page .contact-col-right h2:after {
    content: '';
    width: 55px;
    height: 1px;
    background-color: #550E0A;
    display: block;
    position: absolute;
    bottom: -1px; }
.contact-page .contact-col-right form {
  display: flex;
  align-items: center; }
  .contact-page .contact-col-right form input {
    width: 320px;
    height: 40px;
    border-radius: unset;
    border: 1px solid #ADADAD; }
    .contact-page .contact-col-right form input::placeholder {
      padding-left: 15px; }
  .contact-page .contact-col-right form button {
    background-color: #550E0A;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: unset;
    height: 40px; }
.contact-page .contact-col-right .fb-page span {
  width: 100% !important; }
  .contact-page .contact-col-right .fb-page span iframe {
    width: 100% !important; }

.contact-page .btn-click-popup {
  margin-top: 35px;
  margin-bottom: 20px; }
  .contact-page .btn-click-popup a {
    display: block;
    margin-bottom: 20px; }

.contact-page .btn-click-popup .btn-dktv {
  width: 270px;
  background: #550E0A;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 12px 39px;
  font-weight: bold;
  margin-right: 12px;
  text-align: center; }

.contact-page .btn-click-popup .btn-order {
  width: 270px;
  background: #550E0A;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 12px 39px;
  font-weight: bold;
  text-align: center; }

.btn.btn-submit {
  background: #550e0a;
  color: #fff;
  font-weight: bold;
  padding: 8px 32px; }

.products-wrapper-list .box-image {
  padding-top: 85%; }
  .products-wrapper-list .box-image img {
    padding-left: 30px;
    padding-right: 30px; }
.products-wrapper-list .box-text h3 {
  margin-bottom: 15px; }

.page-item {
  margin-right: 10px; }

a.page-link {
  padding: 10px 18px; }

.active.page-item .page-link {
  background: #000000; }

.products-wrapper-list.list .resize-view {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }
  .products-wrapper-list.list .resize-view .product-item a {
    display: flex;
    align-items: center; }
    .products-wrapper-list.list .resize-view .product-item a .box-image {
      width: 30%;
      padding-top: 30%; }
      .products-wrapper-list.list .resize-view .product-item a .box-image img {
        width: 100%;
        padding: 0; }
    .products-wrapper-list.list .resize-view .product-item a .box-text {
      padding-left: 30px; }

.shop-page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 20px;
  padding-bottom: 6px; }
  .shop-page-title .view i {
    font-size: 20px;
    color: #333;
    margin-right: 6px;
    margin-top: 15px; }
  .shop-page-title .ordering {
    display: flex;
    align-items: center; }
    .shop-page-title .ordering span {
      font-weight: bold;
      margin-right: 10px; }
    .shop-page-title .ordering select {
      width: 155px; }

.filter__group .filter__item .checkbox-styled__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 1px;
  left: 0; }

.filter__group .filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 5px; }

.filter__group .filter__item .checkbox-styled {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  position: relative; }

.checkbox-styled .item-name {
  margin-left: 26px; }

.filter__item input {
  z-index: -1;
  opacity: 0;
  margin-bottom: 0; }

.checkbox-styled__icon::before {
  content: "\f00c";
  font-family: fontawesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  color: #e03232;
  -webkit-transform: scale(0);
  transform: scale(0); }

.checkbox-styled__input:checked + .checkbox-styled__icon:before {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: -webkit-transform 0.1s cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: transform 0.1s cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: transform 0.1s cubic-bezier(0.68, -0.75, 0.265, 1.75), -webkit-transform 0.1s cubic-bezier(0.68, -0.75, 0.265, 1.75); }

.checkbox-styled__icon::before {
  content: "\f00c";
  font-family: fontawesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  color: #e03232;
  -webkit-transform: scale(0);
  transform: scale(0); }

.filter__group {
  margin-top: 20px;
  margin-bottom: 20px; }
  .filter__group .filter-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px; }
  .filter__group .filter__item {
    margin-bottom: 13px; }

.single-product .product-info h1.product-title {
  font-size: 24px;
  font-weight: bold; }
.single-product .product-info .product-price {
  font-size: 20px;
  font-weight: bold;
  color: #550E0A;
  text-transform: capitalize;
  margin-top: 12px;
  display: block;
  margin-bottom: 10px; }
.single-product .product-info .source p {
  color: #666666;
  margin-bottom: 4px;
  margin-top: 4px; }
.single-product .product-description {
  margin-bottom: 20px; }
  .single-product .product-description h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px; }
.single-product .btn-click-popup {
  margin-top: 35px;
  margin-bottom: 20px; }
  .single-product .btn-click-popup .btn-dktv {
    width: 200px;
    background: #550E0A;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 12px 39px;
    font-weight: bold;
    margin-right: 12px; }
  .single-product .btn-click-popup .btn-order {
    width: 150px;
    background: #550E0A;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 12px 39px;
    font-weight: bold; }
.single-product .product-gallery .gallery-1 {
  margin-bottom: 12px;
  cursor: pointer; }
.single-product .product-gallery .gallery-2 {
  cursor: pointer; }
.single-product .product-bottom {
  margin-top: 30px; }
  .single-product .product-bottom .nav-pills {
    border-bottom: 1px solid #000000; }
  .single-product .product-bottom .nav-item {
    margin-right: 10px; }
    .single-product .product-bottom .nav-item .nav-link {
      padding: 10px 30px;
      font-weight: bold;
      color: #550E0A;
      text-transform: uppercase; }
    .single-product .product-bottom .nav-item .nav-link.active {
      background-color: #550E0A;
      border-radius: unset;
      color: #fff; }
.single-product .product-tab-content {
  box-shadow: 1px 2px 3px 2px #bababa; }
  .single-product .product-tab-content .tab-pane {
    padding: 0px 18px 30px 18px; }
.single-product .related-products {
  margin-top: 20px; }
  .single-product .related-products .product-item .box-text span {
    color: #550E0A; }
.single-product .comment-box .comment-box__title {
  font-size: 16px;
  margin-bottom: 10px; }
.single-product .comment-box .star-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  top: 2px;
  z-index: 1; }
.single-product .comment-box .star-input input {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  opacity: 0; }
.single-product .comment-box .star-input span {
  width: 0;
  height: 20px;
  position: relative;
  z-index: 1; }
.single-product .comment-box .star-input span::before {
  content: "\f006";
  font-family: fontawesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  color: #666;
  position: absolute;
  top: 0;
  left: 0; }
.single-product .comment-box .star-input input:hover ~ span::before {
  content: "\f005" !important;
  color: #ffc120 !important; }
.single-product .comment-box .star-input input:checked ~ span::before {
  content: "\f005";
  color: #ffc120; }
.single-product .comment-box .btn.btn-send {
  width: 100%;
  background-color: #550E0A; }
.single-product .comment-box .form-group {
  margin-bottom: 10px; }
.single-product .comment-box .custommer-comment .comment__user {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 2px; }
.single-product .comment-box .custommer-comment .comment__rate {
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-right: 4px;
  position: relative;
  top: 3px; }
.single-product .comment-box .custommer-comment .comment__star {
  font-size: 14px;
  color: #233e92; }
.single-product .comment-box .custommer-comment .comment__rate .number4:before {
  content: "\f005\f005\f005\f005\f006"; }
.single-product .comment-box .custommer-comment .comment__text {
  font-size: 14px;
  color: #666666;
  margin-bottom: 2px; }
.single-product .comment-box .custommer-comment .comment__comment,
.single-product .comment-box .custommer-comment .comment__like {
  font-size: 14px;
  font-weight: 600;
  color: #233e92; }
.single-product .comment-box .custommer-comment .comment__date {
  font-size: 14px;
  color: #666666; }
.single-product .comment-box .custommer-comment .comment__like::before,
.single-product .comment-box .custommer-comment .comment__date::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #233e92;
  margin: 0 6px;
  position: relative;
  top: -2px; }
.single-product .comment-box .custommer-comment .comment__replybox {
  margin-left: 51px; }
.single-product .comment-box .custommer-comment .reply {
  margin-top: 6px; }
.single-product .comment-box .custommer-comment .reply__user.mod {
  background-color: #f0c50e; }
.single-product .comment-box .custommer-comment .reply__user {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0;
  color: #333333;
  margin-bottom: 4px; }
.single-product .comment-box .custommer-comment .reply__text {
  font-size: 12px;
  line-height: 21px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 2px; }
.single-product .comment-box .custommer-comment .reply__comment {
  font-size: 14px;
  font-weight: 600;
  color: #233e92; }
.single-product .comment-box .custommer-comment .reply__date {
  font-size: 14px;
  color: #666666; }
.single-product .comment-box .custommer-comment .reply__date::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #233e92;
  position: relative;
  top: -2px;
  margin: 0 6px; }
.single-product .commtent h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px; }
  .single-product .commtent h4::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #5ddbf4;
    display: block;
    margin-top: 5px; }

.sidebar-small {
  box-shadow: 1px 2px 6px 0px #949393; }
  .sidebar-small h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: #550E0A;
    text-align: center;
    color: #fff;
    padding: 12px 20px; }
  .sidebar-small .product-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-left: unset;
    border-right: unset;
    border-top: unset;
    padding-bottom: 0; }
    .sidebar-small .product-item .box-image {
      padding-top: 38%; }
      .sidebar-small .product-item .box-image img {
        padding: 0; }
    .sidebar-small .product-item .box-text {
      padding-left: 15px;
      text-align: left;
      padding-bottom: 0; }
      .sidebar-small .product-item .box-text h3 {
        margin-top: 0;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        line-height: 20px; }
      .sidebar-small .product-item .box-text p {
        font-size: 14px;
        font-weight: bold;
        color: #550E0A; }

.meta-box {
  margin-top: 35px; }
  .meta-box span {
    margin-right: 10px;
    font-weight: bold; }
  .meta-box a {
    margin-right: 6px; }
  .meta-box .hotline {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .meta-box .hotline .icon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 1px solid #550E0A;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 13px; }
      .meta-box .hotline .icon i {
        font-size: 24px; }
    .meta-box .hotline .text {
      padding-left: 15px; }
      .meta-box .hotline .text span {
        display: block;
        font-weight: 400; }
        .meta-box .hotline .text span:last-child {
          font-size: 24px;
          font-weight: bold;
          color: #550E0A; }
  .meta-box .share {
    display: flex;
    align-items: center; }

.archive-project {
  width: 100%;
  overflow: hidden; }
  .archive-project h1.page-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    padding-bottom: 6px;
    margin-bottom: 18px;
    text-align: center;
    width: 60%;
    margin: auto; }
  .archive-project h6.category-entry {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px; }
  .archive-project .commtent h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px; }
    .archive-project .commtent h4::after {
      content: '';
      width: 100px;
      height: 1px;
      background: #5ddbf4;
      display: block;
      margin-top: 5px; }
  .archive-project .commtent .fb-comments {
    background-color: #f5f5f5; }
  .archive-project .project-content {
    margin-bottom: 30px; }
  .archive-project .product-item .box-image {
    margin-top: 0; }
  .archive-project .product-category .child-category {
    right: 105%;
    left: unset; }
  .archive-project .product-category li:hover .child-category {
    right: 100%;
    left: unset; }
  .archive-project .project-wrapper .swiper-button-prev,
  .archive-project .project-wrapper .swiper-button-next {
    top: 50%;
    transform: translateX(-50%); }
  .archive-project .project-wrapper .swiper-button-prev i,
  .archive-project .project-wrapper .swiper-button-next i {
    border: none;
    background: unset;
    font-size: 40px; }
  .archive-project .project-wrapper .swiper-button-next {
    right: -60px; }
  .archive-project .project-wrapper .swiper-button-prev {
    left: -60px; }
  .archive-project .project-item .box-image {
    padding-top: 76%; }
  .archive-project .project-item .box-image img {
    object-fit: cover; }
  .archive-project .project-item .box-text p {
    margin-bottom: 0; }

.archive-blog h1.blog-title {
  font-size: 14px;
  font-weight: bold;
  color: #550E0A;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
  margin-bottom: 20px; }
.archive-blog .box-image {
  margin-top: 0; }
.archive-blog .sidebar-small .product-item .box-text h3 {
  line-height: 21px; }
.archive-blog .sidebar-small .product-item {
  padding-bottom: 10px;
  align-items: center; }
.archive-blog .post-list .post-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .archive-blog .post-list .post-list-item a {
    color: #333; }
  .archive-blog .post-list .post-list-item .box-image {
    width: 290px;
    height: 170px; }
    .archive-blog .post-list .post-list-item .box-image img {
      height: 100%;
      object-fit: cover; }
  .archive-blog .post-list .post-list-item .box-text {
    flex: 1;
    padding-left: 20px; }
    .archive-blog .post-list .post-list-item .box-text h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 12px; }
    .archive-blog .post-list .post-list-item .box-text .post-date {
      color: #666666;
      font-size: 14px; }
    .archive-blog .post-list .post-list-item .box-text p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      max-height: 6em;
      line-height: 22px; }

.single-blog .blog-content h1.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; }
.single-blog .blog-content .post-date {
  color: #666666; }
.single-blog .product-item {
  padding-bottom: 15px; }
  .single-blog .product-item .box-image {
    margin-top: 0px; }
.single-blog .commtent h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px; }
  .single-blog .commtent h4::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #5ddbf4;
    display: block;
    margin-top: 5px; }
.single-blog .commtent .fb-comments {
  background-color: #f5f5f5; }
.single-blog .table-content {
  padding: 11px 21px;
  background: #FCFCFC;
  width: 60%;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid #ccc; }
  .single-blog .table-content .title-table-content {
    font-size: 20px;
    margin-top: 0;
    font-weight: 500; }
    .single-blog .table-content .title-table-content span {
      color: red; }
  .single-blog .table-content .toc-list {
    list-style: none; }
    .single-blog .table-content .toc-list li {
      display: flex; }
      .single-blog .table-content .toc-list li::before {
        content: "\f105";
        display: block;
        font-family: 'FontAwesome';
        margin-right: 10px;
        font-size: 18px;
        align-items: center; }
      .single-blog .table-content .toc-list li a {
        color: #FAC232; }

/*# sourceMappingURL=style.css.map */
