footer {
    #footer {
        background: #585858;
        padding-top: 30px;
        padding-bottom: 30px;
        h1.footer-title {
            color: #ffff;
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .logo-footer {
            text-align: center;
        }
        .footer-block {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            margin-top: 5px;
            .block-item {
                img {
                    margin-right: 10px;
                }
                span {
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }
        .footer-info {
            text-align: center;
            color: #fff;
            margin-top: 20px;
            .company-name {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .footer-menu {
            border-top: 1px solid #fff;
            padding-top: 20px;
            margin-top: 20px;
            ul {
                li.nav-item {
                    padding: 2px 15px;
                    line-height: 12px;
                    border-right: 3px solid #ccc;
                    a {
                        padding: 0 10px 0 10px;
                        color: #fff;
                    }
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.popup-order {
    background: #333333bf;
    .modal-dialog {
        margin: 0 auto;
        top: 50%;
        transform: scale(0.3) translateY(-50%) !important;
        transition: all 0.3s;
        transform-origin: 50% 10%;
        .modal-content {
            padding: 35px;
            border-radius: 20px;
            p {
                font-size: 16px;
                color: #666666;
                line-height: 25px;
            }
            .modal-body {
                padding: 0;
            }
        }
    }
    .modal-header {
        border: unset;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        button {
            position: absolute;
            top: 19px;
            right: 26px;
            &:focus {
                border: unset;
                outline: 0;
            }
        }
        h5 {
            width: 100%;
            font-size: 24px;
            font-weight: bold;
            color: #550E0A;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    form {
        .form-group {
            input {
                border-radius: 50px;
                &::placeholder {
                    padding-left: 10px;
                    color: #666666;
                }
            }
            select {
                border-radius: 50px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url('../images/br_down.png') white no-repeat !important;
                background: url('../images/br_down.png') white no-repeat calc(100% - 16px) !important;
            }
        }
        button {
            width: 240px;
            background: #550E0A;
            text-align: center;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.popup-order.show {
    .modal-dialog {
        transform: scale(1) translateY(-50%) !important;
    }
}