@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer !important;
    // color: #ba1c65 !important;
}

input {
    outline: 0;
}

form .group {
    display: flex;
    position: relative;
    .icon-search {
        position: absolute;
        right: 22px;
        top: 8px;
        cursor: pointer;
    }
    input.radius {
        border-radius: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.z-index {
    z-index: 100;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

p {
    line-height: 1.6;
    margin: 0.8em 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "" !important;
    background: url(../images/icon-arrow-right.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 4px;
    margin-right: 8px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item.active {
    font-weight: 700;
    color: #550E0A;
}