.archive-project {
    width: 100%;
    overflow: hidden;
    h1.page-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 31px;
        padding-bottom: 6px;
        margin-bottom: 18px;
        text-align: center;
        width: 60%;
        margin: auto;
    }
    h6.category-entry {
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .commtent {
        h4 {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 20px;
            &::after {
                content: '';
                width: 100px;
                height: 1px;
                background: #5ddbf4;
                display: block;
                margin-top: 5px;
            }
        }
        .fb-comments {
            background-color: #f5f5f5;
        }
    }
    .project-content {
        margin-bottom: 30px;
    }
    .related-projects {}
    .product-item .box-image {
        margin-top: 0;
    }
    .product-category {
        .child-category {
            right: 105%;
            left: unset;
        }
        li:hover .child-category {
            right: 100%;
            left: unset;
        }
    }
    .project-wrapper .swiper-button-prev,
    .project-wrapper .swiper-button-next {
        top: 50%;
        transform: translateX(-50%);
    }
    .project-wrapper .swiper-button-prev i,
    .project-wrapper .swiper-button-next i {
        border: none;
        background: unset;
        font-size: 40px;
    }
    .project-wrapper .swiper-button-next {
        right: -60px;
    }
    .project-wrapper .swiper-button-prev {
        left: -60px;
    }
    .project-item .box-image {
        padding-top: 76%;
    }
    .project-item .box-image img {
        object-fit: cover;
    }
    .project-item .box-text p {
        margin-bottom: 0;
    }
}