.home-slider {
    overflow-x: clip;
    .swiper-container {
        overflow: unset;
        .swiper-slide img {
            opacity: 0.2;
        }
        .swiper-slide.swiper-slide-active img {
            opacity: 1;
        }
    }
    .slider-wrapper {
        position: relative;
        .swiper-button-next,
        .swiper-button-prev {
            background: unset;
            i {
                font-size: 83px;
                color: #fff;
            }
        }
        .swiper-button-next {
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
        .swiper-button-prev {
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.gallery-image {
    .box-image {
        img {
            height: 300px;
            object-fit: cover;
        }
        span {
            img {
                height: 145px;
                margin-bottom: 10px;
                object-fit: cover;
            }
        }
    }
}

.sidebar-product {
    .sidebar-title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        background: #550E0A;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-category {
        background: #fff;
        padding: 18px 0px 18px 15px;
        box-shadow: 1px 1px 5px 1px #b6b6b685;
        ul {
            list-style: none;
            li {
                position: relative;
                display: flex;
                align-items: center;
                a {
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #550E0A;
                    display: block;
                    width: 100%;
                    padding: 6px 15px 6px 0px;
                }
                .child-category {
                    position: absolute;
                    visibility: hidden;
                    left: 105%;
                    top: 0;
                    width: 100%;
                    background: #fff;
                    opacity: 0;
                    z-index: 1000;
                    a {
                        padding-left: 10px;
                    }
                }
                button {
                    margin-left: auto;
                    background: transparent;
                    border: none;
                    margin-right: 5px;
                }
            }
        }
        li:hover .child-category {
            visibility: visible;
            left: 100%;
            opacity: 1;
            transition: all 0.5s;
        }
    }
    .box-image {
        margin-top: 30px
    }
}

.section-title {
    border-bottom-style: double;
    border-width: 3px;
    border-color: #E1E1E1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        width: 100px;
        height: 2px;
        bottom: -3px;
        background-color: #550E0A;
        display: block;
        position: absolute;
    }
}

.featured-products-content {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        background: unset;
        top: 10px;
    }
    .swiper-button-prev {
        left: 91%;
    }
    .swiper-button-prev i,
    .swiper-button-next i {
        padding: 8px 12px;
        color: #333;
        border: 1px solid #CCCCCC;
        font-weight: bold;
    }
}

.product-item {
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 5px;
    width: 100%;
    .box-text {
        text-align: center;
        padding-bottom: 15px;
        h3 {
            font-size: 14px;
            color: #000;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        span {
            font-size: 14px;
            color: #000;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
    .box-image {
        width: 100%;
        padding-top: 100%;
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            padding: 16px;
        }
    }
}

.product-block {
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-style: double;
        border-width: 3px;
        border-color: #E1E1E1;
        position: relative;
        h2 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 0px;
        }
        &::after {
            content: '';
            width: 100px;
            height: 2px;
            bottom: -2px;
            background-color: #550E0A;
            display: block;
            position: absolute;
        }
        .nav {
            li {
                margin-right: 30px;
                a.nav-link {
                    background: transparent;
                    border: none;
                    position: relative;
                    padding: 0;
                    color: #333;
                }
                a.nav-link.active {
                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        background: #000;
                        position: absolute;
                        bottom: -13px;
                        left: 0;
                    }
                }
            }
        }
    }
    .product-slide {
        position: relative;
        margin-top: 20px;
        .swiper-button-next,
        .swiper-button-prev {
            background: unset;
            top: 50%;
            transform: translateY(-50%);
        }
        .swiper-button-next i,
        .swiper-button-prev i {
            font-weight: bold;
            font-size: 35px;
        }
        .swiper-button-next {
            right: -5px;
        }
        .product-item {
            .box-image {
                padding-top: 80%;
                img {
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 1px;
                    padding-bottom: 0px;
                }
            }
        }
    }
}

.bg {
    background-color: #F4F4F4;
}

section.signup {
    background: url('../images/banner-dang-ky.jpg');
    background-repeat: no-repeat;
    background-position: 52% 50%;
    position: relative;
    height: 300px;
    .signup-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 728px;
        h2 {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 18px;
        }
        p {
            font-size: 14px;
            color: #fff;
            max-width: 460px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                max-width: 240px;
                height: 40px;
                border-radius: unset;
            }
            button {
                background: #550E0A;
                color: #fff;
                border: unset;
                height: 40px;
                min-width: 110px;
                border-radius: unset;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
    &:after {
        content: '';
        background: #000000ad;
        width: 100%;
        height: 100%;
        display: block;
    }
}

.project-wrapper {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        background: unset;
        top: 10px;
    }
    .swiper-button-prev {
        left: 93%;
    }
    .swiper-button-prev i,
    .swiper-button-next i {
        padding: 8px 12px;
        color: #333;
        border: 1px solid #CCCCCC;
        font-weight: bold;
    }
}

.project-item {
    background: #fff;
    margin-bottom: 5px;
    width: 100%;
    .box-text {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            margin-top: 15px;
            margin-bottom: 10px;
            line-height: 23px;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            color: #333;
        }
    }
    .box-image {
        padding-top: 100%;
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.product-wrapper {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        background: unset;
        top: -40px;
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        left: 90%;
    }
    .swiper-button-prev i,
    .swiper-button-next i {
        padding: 8px 12px;
        color: #333;
        border: 1px solid #CCCCCC;
        font-weight: bold;
    }
    .box-image-left {
        img {
            width: 270px;
            height: 250px;
            object-fit: cover;
        }
    }
    .box-text {
        padding-bottom: 10px;
    }
}

.box-customer {
    display: flex;
    align-items: center;
    justify-content: center;
    .box-image {
        img {
            border-radius: 100px;
        }
    }
    .info {
        padding-left: 15px;
        h4 {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            color: #fff;
        }
    }
}

.customer {
    height: 350px !important;
    background-size: cover !important;
    p {
        min-width: 810px;
        margin-top: 15px;
    }
}

.news-slide .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.blog-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .box-image {
        width: 100%;
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
        height: 100%;
        img {
            object-fit: cover;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .box-text {
        position: absolute;
        bottom: 0;
        background: #000000;
        width: 100%;
        padding-left: 10px;
        padding-right: 5px;
        h3 {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            padding-top: 10px;
        }
        .is-divider {
            background: #fff;
            width: 26px;
            height: 3px;
            padding-left: 10px;
            margin-top: 12px;
            margin-bottom: 10px;
        }
    }
}

.customer-partner-wrapper {
    .grid-row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 18px;
    }
    .gallery-item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;
        .box-image {
            overflow: hidden;
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 92%;
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s;
            }
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}

section.support {
    background-color: #550E0A;
    padding-top: 40px;
    padding-bottom: 40px;
}

.support-swapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box-text {
        max-width: 538px;
        h2 {
            font-size: 36px;
            font-weight: bold;
            color: #fff;
        }
        p {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    .hotline {
        margin-bottom: 22px;
        p {
            color: #fff;
            font-size: 18px;
            margin-bottom: 10px;
        }
        span {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            i {
                font-size: 34px;
                margin-right: 10px;
            }
        }
    }
    .btn-question {
        width: 155px;
        height: 40px;
        background: #fff;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 12px;
        a {
            background: unset;
            border: unset;
            height: 100%;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 40px;
            color: #550E0A;
        }
    }
}

.menu-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    span {
        margin-right: 10px;
        font-weight: bold;
    }
    .menu {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                border-right: 1px solid #707070;
                a {
                    padding: 5px 10px;
                    color: #333;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .menu-footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-main {
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
    .logo-footer {
        text-align: center;
        margin-bottom: 15px;
    }
    p {
        color: #fff;
        line-height: 22px;
    }
    h2.footer-title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
        &::after {
            content: '';
            width: 115px;
            height: 1px;
            display: block;
            background: #fff;
            margin-top: 5px;
        }
    }
    h3 {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .box-info-item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        span {
            color: #fff;
            i {
                min-width: 20px;
                margin-right: 10px;
            }
        }
    }
    .footer-category {
        ul {
            list-style: none;
            li {
                border-bottom: 1px solid #707070;
                margin-bottom: 16px;
                padding-bottom: 6px;
                a {
                    color: #fff;
                }
            }
        }
    }
    .dknt {
        h2.footer-title:after {
            width: 88%;
        }
        span {
            color: #fff;
            margin-bottom: 10px;
            display: block;
        }
        form {
            input {
                max-width: 312px;
                height: 40px;
                width: 100%;
            }
            button {
                width: 50px;
                height: 40px;
                background: #550E0A;
                border: none;
                color: #fff;
            }
        }
    }
    .social-follow {
        margin-top: 15px;
        a {
            margin-right: 8px;
        }
    }
}

.absolute-footer {
    background: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul.statistical {
        list-style: none;
        display: flex;
        li {
            color: #fff;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    span {
        color: #fff;
    }
}

.swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #550E0A;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #550E0A;
}

.news-wrapper {
    .news-slide {
        position: relative;
    }
}

.news-wrapper .swiper-button-prev,
.customer-partner-wrapper .swiper-button-prev {
    left: 93%;
}

.news-wrapper .swiper-button-prev,
.news-wrapper .swiper-button-next {
    background: unset;
    top: -40px;
}

.customer-partner-wrapper .swiper-button-prev,
.customer-partner-wrapper .swiper-button-next {
    background: unset;
    top: 8px;
}

.news-wrapper .swiper-button-prev i,
.news-wrapper .swiper-button-next i,
.customer-partner-wrapper .swiper-button-prev i,
.customer-partner-wrapper .swiper-button-next i {
    padding: 8px 12px;
    color: #333;
    border: 1px solid #CCCCCC;
    font-weight: bold;
}

.customer-partner-wrapper {
    position: relative;
}